<%- include('./partials/head.ejs') %>


<h1 id="welkom">Welkom Pepijn!</h1>

<div class="flexbox-desktop-container">

<a class="naar-beneden" href="#form">notitie toevoegen</a>

<ul class="back-next-container">
    <li><span class="back">&#10094;</span></li>
    <li><span class="next">&#10095;</span></li>
</ul>  


<% notities.forEach(notitie => { %>
     
    <article class="notitie-container notitie-slider">
    
        <h2>Notities  <span class="datum"><%= notitie.datum %></span></h2>
        <h3><%= notitie.titel %></h3>
        <p><%= notitie.beschrijving %></p>
   
        <button class="toevoegen-notitie">+ Notitie Toevoegen</button>
    </article>
<% }); %>


</div>

<article class="form-background">
    <button class="click-away-form">+</button>
<form id="form" class="form-notities" action="/" method="post">
    <fieldset>
        <legend>notities</legend>

        <!-- notitietest -->


        <!-- TITEL -->
        <label for="titel">titel<span>(verplicht)</span></label>
        <input name="titel" id="titel" type="text" required>

        <!-- BESCHRIJVING -->
        <label for="beschrijving">Notitie</label>
        <textarea id="beschrijving" name="beschrijving" placeholder="Vul hier jouw notitie in" required></textarea>
    
        <label for="herinnering">herinnering<span>(verplicht)</span></label>
        <input name="herinnering" id="herinnering" type="datetime-local" required>

        <label for="datum">datum<span>(verplicht)</span></label>
        <input name="datum" id="datum" type="datetime-local" required>

    <button class="versturen-form" type="submit">Versturen</button>
</fieldset>
</form>
</article>


<a class="terug-omhoog" href="#welkom">terug omhoog</a>

<%- include('./partials/foot.ejs') %>